/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  text-align: center;
}

header {
  background-color: cyan;
  text-align: center;
}

#darkmodeBtn {
  background-color: gray;
  color: white;
  width: 200px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
}

#darkmodeBtn:hover {
  opacity: 0.7;
}

#gacha-btn {
  background-color: #b3ff00;
  border-radius: 13px;
}

#gacha-btn:hover {
  opacity: 0.7;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: #0044ff;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "●";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 50%;
  margin:auto
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}

/* --------------------
      ダークモード
-------------------- */
.dark {
  background-color: #000000;
  color: #d6d6d6;
}

.dark header {
  background-color: #282896;
}

.dark #darkmodeBtn {
  background-color: #d6d6d6;
  color: #000000;
}

.dark a {
  color: #507fff;
}

.dark td{
  background-color: #000000;
}

.dark #gacha-btn {
  background-color: #b3ff00d8;
}

.dark img {
  filter: brightness(80%);
}
